body {
  font-family: Verdana, Geneva, sans-serif;/
 }

 #box {
  width: 200px;
  height: 200px;
  display: none;
  position: relative;
 }

 #video, .video img {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 1550px;
 }

 .content {
  position: fixed;
  background-color: white;
  padding: 15px;
 }

 #start, .content {
  border-radius: 1em;
 }

 #start {
  width: 250px;
  height: 45px;
  background-color: red;
  border-color: rgb(183, 40, 40);
  display: block;
  margin: auto;
  margin-top: 20px;
 }

 #start:disabled {
  background-color: rgba(177, 177, 177, 0.696);
  border-color: rgba(0, 0, 0, 0.475);
 }

 h1, p, ul {
  font-size: 12px;
 }

 #brake {
  position: fixed;
  width: 150px;
  top: 550px;
  left: 690px;
 }
 
 #left-warning {
  position: fixed;
  width: 100px;
  top: 560px;
  left: 30px;
 }

 #right-warning {
  position: fixed;
  width: 100px;
  top: 560px;
  right: 30px;
 }

 audio {
  display: none;
}