body {
  font-family: Verdana, Geneva, sans-serif;
 }

 #box {
  width: 200px;
  height: 200px;
  display: none;
  position: relative;
 }

 #video, .video img {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 1550px;
 }

 .content {
  position: fixed;
  background-color: white;
  padding: 15px;
 }

 h1, p, ul {
  font-size: 12px;
 }

 #brake {
  position: fixed;
  width: 150px;
  top: 550px;
  left: 690px;
 }
 
 #left-warning {
  position: fixed;
  width: 100px;
  top: 560px;
  left: 30px;
 }

 #right-warning {
  position: fixed;
  width: 100px;
  top: 560px;
  right: 30px;
 }

 audio {
  display: none;
}