body {
  font-family: Verdana, Geneva, sans-serif;
 }

 html, body {
  max-width: 1000px;
  max-height: 800px;
 }


 #box {
  width: 200px;
  height: 200px;
  display: none;
  position: relative;
 }

 #video {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 1500px;
 }
 
 .content {
  position: fixed;
  background-color: white;
  padding: 15px;
 }
